* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    border: solid 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 30rem;
    height: 40rem;
    border: solid 2px red;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    flex-direction: column;
}
input {
    height: 2rem;
    width: 15rem;
    padding: 0.5rem;  
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social:hover {
    color: #eee;
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 7px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}